<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Kontakt</span>
            <h2 class="cs-title">Poproś o wycenę</h2>
            <p class="cs-text">
                Napisz do mnie żeby zapytać o wycenę usługi lub umówić termin. Jeśli potrzebujesz prostej usługi, proponuję zadzwonić.
            </p>
            <h2 class="phone-number">Telefon: +48 911 279 868</h2>
            <!--Form-->
            <form class="cs-form" id="cs-form-323" name="Contact Form" method="post">
                <label class="cs-label">
                    Imię i nazwisko
                    <input class="cs-input" required type="text" id="name-323" name="name" placeholder="Imię i nazwisko">
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="text" id="email-323" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-phone">
                    Telefon kontaktowy
                    <input class="cs-input" required type="text" id="phone-323" name="phone" placeholder="Numer telefonu">
                </label>
                <label class="cs-label">
                    Wiadomość
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-323" placeholder="Napisz do mnie z opisem swojej sytuacji..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Prześlij formularz</button>
            </form>
        </div>
        <!--Map Image, pin is made in the Figma then export as one image-->
        <picture class="cs-map">
            <source media="(max-width: 600px)" srcset="/assets/map.webp">
            <source media="(min-width: 601px)" srcset="/assets/map.webp">
            <img decoding="async" src="/assets/map.webp" alt="map" width="610" height="425" aria-hidden="true">
        </picture>
    </div>
</section>
                                
<style>
    /*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
    }
    #contact .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 36.25rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3.25rem;
    }
    #contact .cs-content {
        text-align: left;
    }

    #contact .cs-text {
        /* 24px - 32px */
        margin-bottom: clamp(1.5rem, 5vw, 2rem);
    }
    #contact .cs-form {
        /* 20px - 48px top and bottom */
        /* 20px - 32px left and right */
        padding: clamp(1.25rem, 4.18vw, 3rem) clamp(1.25rem, 4.18vw, 2rem);
        background-color: #f7f7f7;
        /* border-radius: 1rem; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.75rem;
    }
    #contact .cs-label {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        width: 100%;
        color: var(--headerColor);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.25rem;
    }
    #contact .cs-input {
        font-size: 1rem;
        width: 100%;
        height: 3.5rem;
        padding: 0;
        padding-left: 1.5rem;
        border-radius: 0.5rem;
        color: var(--headerColor);
        background-color: #fff;
        border: none;
        /* prevents padding from adding to height and width */
        box-sizing: border-box;
    }
    #contact .cs-input::placeholder {
        color: #7d799c;
        opacity: 0.6;
    }
    #contact .cs-textarea {
        min-height: 7.5rem;
        padding-top: 1.5rem;
        margin-bottom: 0.75rem;
        font-family: inherit;
    }
    #contact .cs-map {
        width: 100%;
        max-width: 39.375rem;
        /* 328px - 425px */
        height: clamp(20.5rem, 63.4vw, 26.5625rem);
        /* border-radius: 1.5rem; */
        /* clips the corners of the img tag */
        overflow: hidden;
        position: relative;
        display: block;
    }
    #contact .cs-map img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 3.25rem;
    }
    #contact .cs-content {
        max-width: 35.4375rem;
    }
    #contact .cs-title,
    #contact .cs-topper,
    #contact .cs-text {
        text-align: left;
        margin-left: 0;
    }
    #contact .cs-title {
        max-width: 32.625rem;
    }
    #contact .cs-email,
    #contact .cs-phone {
        width: 47%;
    }
    #contact .cs-button-solid {
        margin-left: 0;
    }
    #contact .cs-map {
        height: auto;
        aspect-ratio: 0.89871612;
    }
}

                                
</style>